Source: onedrive
Section: net
Priority: optional
Maintainer: Partizand <partizand@gmail.com>
Build-Depends: debhelper (>= 11), autotools-dev, build-essential, libcurl4-openssl-dev, libsqlite3-dev, pkg-config, libnotify-dev, ldc
Standards-Version: 4.1.3
Homepage: https://github.com/abraunegg/onedrive
#Vcs-Git: https://github.com/abraunegg/onedrive.git

Package: onedrive
Architecture: any
Depends: libnotify4 (>= 0.7.3),${shlibs:Depends}, ${misc:Depends}
Description: folder synchronization with OneDrive
 OneDrive is the cloud storage system of Microsoft. This package provides
 the command line client specialising in synchronizing with OneDrive cloud
 storage.
